<h1>Hola <%= @user.first_name %>,</h1>

<p>Se te ha asignado un casillero administrado por nuestro sistema de control de acceso.</p>

<p><strong>Clave de acceso:</strong> <%= @password %> .</p>

<h3>Instrucciones de apertura con teclado de membrana</h3>
<ol>
  <li>Selecciona el casillero utilizando uno de los botones principales:
    <ul>
      <li>Botón A: Abre el casillero 1.</li>
      <li>Botón B: Abre el casillero 2.</li>
      <li>Botón C: Abre el casillero 3.</li>
    </ul>
  </li>
  <li>Ingresa la clave numérica utilizando los botones del 0 al 9.</li>
  <li>Si te equivocas, presiona el botón * para borrar y vuelve a ingresar la clave.</li>
  <li>Presiona # para validar la contraseña. Si la contraseña es correcta, el casillero se abrirá automáticamente y podrás acceder a su contenido.</li>
</ol>

<h3>Instrucciones de cierre</h3>
<ol>
  <li>Cierra la puerta del casillero manualmente hasta que esté firmemente sellada.</li>
  <li>Presiona el botón # para bloquear el casillero.</li>
  <li>Una vez bloqueado, el casillero estará listo para el próximo uso.</li>
</ol>

<p>Recuerda mantener esta clave en un lugar seguro. Para cualquier inconveniente con el acceso, no dudes en contactarnos.</p>

<p>Saludos cordiales,</p>
<p>Equipo de Administración de Casilleros</p>
