<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title">Crear Nuevo Controlador</h5>
          <p class="card-text">Añade un nuevo controlador a la lista.</p>
          <%= link_to 'Crear Controlador', new_controlador_path, class: 'btn btn-success mt-3' %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Lista de Controladores</h5>
          <% if @controladores.any? %>
            <ul class="list-group mt-3">
              <% @controladores.each do |controlador| %>
                <li class="list-group-item">
                  <strong>Nombre:</strong> <%= controlador.nombre %><br>
                  <strong>Casilleros Asociados:</strong>
                  <% if controlador.casilleros.any? %>
                    <ul>
                      <% controlador.casilleros.each do |casillero| %>
                        <li> <%= casillero.nombre %></li>
                      <% end %>
                    </ul>
                  <% else %>
                    <span class="text-muted">Sin casilleros asociados</span>
                  <% end %>
                  <%= link_to 'Ver', controlador_path(controlador), class: 'btn btn-primary btn-sm mt-2' %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="text-muted mt-3">No hay controladores disponibles.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
