<h1>Hola <%= @user.first_name %>,</h1>

<p>Se te ha asignado un casillero administrado por nuestro sistema de control de acceso.</p>

<p><strong>Clave de acceso:</strong> <%= @password %> (Utiliza los símbolos correspondientes en la app para visualizarlos).</p>

<h3>Instrucciones de apertura</h3>
<p>
  <ol>
    <li>Aproximarse al casillero.</li>
    <li>Selecciona el casillero presionando los botones con numeros.</li>
    <li>Ingresa la clave numero y luego presione #.</li>
    <li>Al finalizar, una luz verde se encenderá, indicando que el casillero está desbloqueado. Puedes abrirlo y acceder a su contenido.</li>
  </ol>
</p>

<h3>Instrucciones de cierre</h3>
<p>
  <ol>
    <li>Cierra la puerta del casillero hasta que esté firmemente sellada.</li>
    <li>Presiona el botón de cierre, presionando !.</li>
    <li>El sistema bloqueará automáticamente el casillero, y una luz roja confirmará el cierre seguro.</li>
  </ol>
</p>

<p>Recuerda mantener esta clave en un lugar seguro. Para cualquier inconveniente con el acceso, no dudes en contactarnos.</p>

<p>Saludos cordiales,</p>
<p>Equipo de Administración de Casilleros</p>
