<p>Hola <%= @user.first_name %>,</p>

<p>Se ha reportado una apertura de tu casillero con nombre "<%= @locker.name %>".</p>

<p>Detalles del casillero:</p>
<ul>
  <li>ID del casillero: <%= @locker.id %></li>
  <li>Nombre del casillero: <%= @locker.name %></li>
</ul>

<p>Si tienes alguna consulta, por favor, contacta con soporte.</p>
<p>Saludos,</p>
<p>El equipo de Administración</p>
