<div class="container my-5">
  <div class="row g-4">
    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="card-body text-center">
          <h5 class="card-title">Create New Controller</h5>
          <p class="card-text">Add a new controller to your list.</p>
          <%= link_to 'Create Controller', new_manager_path, class: 'btn btn-success btn-lg mt-3' %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5 class="card-title">List of Controllers</h5>
          <% if @managers.any? %>
            <ul class="list-group mt-3">
              <% @managers.each do |manager| %>
                <li class="list-group-item">
                  <div class="d-flex justify-content-between align-items-start">
                    <div>
                      <strong>Name:</strong> <%= manager.name %><br>
                      <strong>Associated Lockers:</strong>
                      <% if manager.lockers.any? %>
                        <ul class="mb-2">
                          <% manager.lockers.each do |locker| %>
                            <li><%= locker.name %></li>
                          <% end %>
                        </ul>
                      <% else %>
                        <span class="text-muted">No associated lockers</span>
                      <% end %>
                    </div>
                    <div>
                      <%= link_to 'View', manager_path(manager), class: 'btn btn-primary btn-sm' %>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="text-muted mt-3">No controllers available.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
