<div class="container my-5">
  <section class="mb-5">
    <div class="my-card">
      <div class="card-header bg-secondary text-white">
        <h2 class="mb-0">User Information</h2>
      </div>
      
    </div>
  </section>

  <section class="mb-5">
    <div class="my-card">
      <div class="card-header bg-secondary text-white">
        <h3 class="mb-0">Lockers</h3>
      </div>
      <div class="card-body">
        <% if @lockers.any? %>
          <ul class="list-group">
            <% @lockers.each do |locker| %>
              <li class="list-group-item lister d-flex justify-content-between align-items-center">
                <%= link_to locker.name, locker_path(locker), class: "text-decoration-none locker-link" %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="text-muted">No lockers available.</p>
        <% end %>
      </div>
    </div>
  </section>

  <section class="mb-5">
    <div class="my-card">
      <div class="card-header bg-secondary text-white">
        <h3 class="mb-0">Controllers</h3>
      </div>
      <div class="card-body">
        <% if @managers.any? %>
          <ul class="list-group">
            <% @managers.each do |manager| %>
              <li class="list-group-item lister d-flex justify-content-between align-items-center">
                <%= link_to manager.name, manager_path(manager), class: "text-decoration-none locker-link" %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="text-muted">No controllers available.</p>
        <% end %>
      </div>
    </div>
  </section>

  <section class="mb-5">
    <div class="my-card">
      <div class="card-header bg-secondary text-dark">
        <h3 class="mb-0">Models</h3>
      </div>
      <div class="card-body">
        <% if @predictors.any? %>
          <ul class="list-group">
            <% @predictors.each do |predictor| %>
              <li class="list-group-item lister d-flex justify-content-between align-items-center">
                <%= link_to " #{predictor.name}", predictor_path(predictor), class: "text-decoration-none locker-link" %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="text-muted">No models available.</p>
        <% end %>
      </div>
    </div>
  </section>
</div>
