<!-- app/views/modelos/index.html.erb -->
<div class="container mt-5">
  <h2>Modelos Disponibles</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Signo 1</th>
        <th>Signo 2</th>
        <th>Signo 3</th>
        <th>Signo 4</th>
        <th>Signo 5</th>
        <th>Signo 6</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @modelos.each do |modelo| %>
        <tr>
          <td><%= modelo.nombre %></td>
          
          <!-- Mostrar nombres de signos, si existen -->
          <% modelo.signs.first(6).each do |sign| %>
            <td><%= sign.sign_name %></td>
          <% end %>

          <!-- Rellena las celdas vacías en caso de que haya menos de 6 signos -->
          <% (6 - modelo.signs.count).times do %>
            <td>-</td>
          <% end %>

          <td>
            <%= link_to 'Ver', modelo_path(modelo), class: 'btn btn-primary btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_usuario&.super_user? %>
    <%= link_to 'Agregar Nuevo Modelo', new_modelo_path, class: 'btn btn-success' %>
  <% end %>
</div>
