<p>Hola <%= @usuario.first_name %>,</p>

<p>Se ha reportado una apertura de tu casillero con nombre "<%= @casillero.nombre %>".</p>

<p>Detalles del casillero:</p>
<ul>
  <li>ID del casillero: <%= @casillero.id %></li>
  <li>Nombre del casillero: <%= @casillero.nombre %></li>
</ul>

<p>Si tienes alguna consulta, por favor, contacta con soporte.</p>
<p>Saludos,</p>
<p>El equipo de Administración</p>
